@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap demo</title>

</head>
<body class="bg-light">

	<div style="height: 160px;" class="bg-gradent" />
	<div class="container pt-2">
		<div class="row d-flex align-items-center">
			<div class="col d-flex flex-column">
				<div class="row text-light">Web Engineer</div>
				<div class="row fw-bold text-light">Roma Irama</div>
			</div>
			<div class="col-2 center"><i class="bi bi-person-circle text-light float-end h1"></i></div>
		</div>
	</div>

	<div class="container mt-3">
		<div class="col-12 bg-white mx-auto rounded focus-ring p-2">
			<div class="row">
				<div class="container">
					<div class="col border-bottom clearfix pb-1">
						<img src="~/images/IEM2.png" class="rounded float-start" alt="...">
						<img src="~/images/PHR2.png" class="rounded float-end" alt="...">
					</div>

				</div>

				<div class="row">
					<div class="col-3 border-end">
						<div class="d-flex flex-column h-100">
							<div style="font-size: 0.8rem;">Well Exception</div>
							<div class="fs-3 fw-bold mt-auto">2</div>
						</div>
					</div>

					<div class="col-3 border-end">
						<div class="d-flex flex-column h-100">
							<div style="font-size: 0.8rem;">Non Well Exception</div>
							<div class="fs-3 fw-bold mt-auto">2</div>
						</div>
					</div>

					<div class="col-3 border-end">
						<div class="d-flex flex-column h-100">
							<div style="font-size: 0.8rem;">Well Passed Signal</div>
							<div class="fs-3 fw-bold mt-auto">2</div>
						</div>
					</div>

					<div class="col-3">
						<div class="d-flex flex-column h-100">
							<div style="font-size: 0.8rem;">Non Well Passed Signal</div>
							<div class="fs-3 fw-bold mt-auto">2</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="container mt-3">
		<div class="row d-flex align-items-center">
			<div class="col fs-6 fw-bold">
				Exception Signals
			</div>
			<div class="col text-end text-primary" style="font-size: 0.8rem;">
				View More
			</div>
		</div>
	</div>

	<div class="container text-center mt-2">
		<div class="row g-2 row-cols-2 row-cols-lg-5">
			<div class="col-6">
				<div class="p-3 bg-white border rounded">
					<div class="row">
						<div class="col text-start fs-5 fw-bold">3</div>
						<div class="col"><img src="~/images/oil_icon.png" class="rounded float-end" alt="..."></div>
					</div>
					<div class="col text-start fs-6 fw-bold text-uppercase">
						WALIFT012
					</div>
					<div class="col text-start text-secondary">
						Dawn Thrust Condition
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="p-3 bg-white border rounded">
					<div class="row">
						<div class="col text-start fs-5 fw-bold">3</div>
						<div class="col"><img src="~/images/oil_icon.png" class="rounded float-end" alt="..."></div>
					</div>
					<div class="col text-start fs-6 fw-bold text-uppercase">
						WALIFT012
					</div>
					<div class="col text-start text-secondary">
						Dawn Thrust Condition
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="p-3 bg-white border rounded">
					<div class="row">
						<div class="col text-start fs-5 fw-bold">3</div>
						<div class="col"><img src="~/images/oil_icon.png" class="rounded float-end" alt="..."></div>
					</div>
					<div class="col text-start fs-6 fw-bold text-uppercase">
						WALIFT012
					</div>
					<div class="col text-start text-secondary">
						Dawn Thrust Condition
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="p-3 bg-white border rounded">
					<div class="row">
						<div class="col text-start fs-5 fw-bold">3</div>
						<div class="col"><img src="~/images/oil_icon.png" class="rounded float-end" alt="..."></div>
					</div>
					<div class="col text-start fs-6 fw-bold text-uppercase">
						WALIFT012
					</div>
					<div class="col text-start text-secondary">
						Dawn Thrust Condition
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="container mt-3">
		<div class="row d-flex align-items-center">
			<div class="col fs-6 fw-bold">
				Passed Signals
			</div>
			<div class="col text-end text-primary" style="font-size: 0.8rem;">
				View More
			</div>
		</div>
	</div>

	<div class="container text-center mt-2">
		<div class="row g-2 row-cols-2 row-cols-lg-5">
			<div class="col-6">
				<div class="p-3 bg-white border rounded">
					<div class="row">
						<div class="col text-start fs-5 fw-bold">3</div>
						<div class="col"><img src="~/images/signal.png" class="rounded float-end" alt="..."></div>
					</div>
					<div class="col text-start fs-6 fw-bold text-uppercase">
						AXT038
					</div>
					<div class="col text-start text-secondary">
						Dawn Thrust Condition
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="p-3 bg-white border rounded">
					<div class="row">
						<div class="col text-start fs-5 fw-bold">3</div>
						<div class="col"><img src="~/images/signal.png" class="rounded float-end" alt="..."></div>
					</div>
					<div class="col text-start fs-6 fw-bold text-uppercase">
						AXT038
					</div>
					<div class="col text-start text-secondary">
						Dawn Thrust Condition
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="p-3 bg-white border rounded">
					<div class="row">
						<div class="col text-start fs-5 fw-bold">3</div>
						<div class="col"><img src="~/images/signal.png" class="rounded float-end" alt="..."></div>
					</div>
					<div class="col text-start fs-6 fw-bold text-uppercase">
						AXT038
					</div>
					<div class="col text-start text-secondary">
						Dawn Thrust Condition
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="p-3 bg-white border rounded">
					<div class="row">
						<div class="col text-start fs-5 fw-bold">3</div>
						<div class="col"><img src="~/images/signal.png" class="rounded float-end" alt="..."></div>
					</div>
					<div class="col text-start fs-6 fw-bold text-uppercase">
						AXT038
					</div>
					<div class="col text-start text-secondary">
						Dawn Thrust Condition
					</div>
				</div>
			</div>

		</div>
	</div>


</body>
</html>
