@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    
	<link href="~\Package\bootstrap-5.3.3-dist\css\bootstrap.min.css" rel="stylesheet" />
</head>
<body>


    <div class="container mt-2">
        <div class="row">
            <div class="col-8">col-8</div>
            <div class="col-4"><i class="bi bi-person-circle float-end"></i></div>
        </div>
    </div>



</body>
</html>

