@page
@model LoginModel
@{
	ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="col-lg-6">
                <img src="~/images/logo_phr.png" class="img-fluid mx-auto" alt="...">
            </div>
            <div class="col-lg-6">
                <img src="~/images/login_img.png" class="img-fluid" alt="...">
            </div>
        </div>
        <div class="col-lg-6"></div>
    </div>
</div>