@page
@model phr.Pages.NotificationModel
@{
	ViewData["Title"] = "Notification";
}
<div class="container p-2 d-flex align-items-end flex-column vh-100">
	<div class="col-12 py-2 border-bottom">
		<h4><strong>Notification</strong></h4>
	</div>
	<div class="col-12">
		<h6 class="mt-3 ms-2 text-secondary">TODAY</h6>
		<div class="d-flex col-12 border-bottom">
			<div class="p-2">
				<div class="p-2 rounded-circle bg-green d-flex align-items-center justify-content-center" style="width:50px; height:50px;">
					<i class="bi bi-check2 fs-2 text-white"></i>
				</div>
			</div>
			<div class="px-2 ms-auto col my-auto">
				<div class="p-2">
					<div><strong>Active</strong></div>
					<div>Signal Condition</div>
				</div>
			</div>
		</div>

		<div class="d-flex col-12 border-bottom">
			<div class="p-2">
				<div class="p-2 rounded-circle bg-secondary bg-opacity-75 d-flex align-items-center justify-content-center" style="width:50px; height:50px;">
					<i class="bi bi-check2 fs-2 text-white"></i>
				</div>
			</div>
			<div class="px-2 ms-auto col my-auto">
				<div class="p-2">
					<div><strong>Active</strong></div>
					<div>Signal Condition</div>
				</div>
			</div>
		</div>

		<h6 class="mt-3 ms-2 text-secondary">21 July</h6>
		<div class="d-flex col-12 border-bottom">
			<div class="p-2">
				<div class="p-2 rounded-circle bg-green d-flex align-items-center justify-content-center" style="width:50px; height:50px;">
					<i class="bi bi-check2 fs-2 text-white"></i>
				</div>
			</div>
			<div class="px-2 ms-auto col my-auto">
				<div class="p-2">
					<div><strong>Active</strong></div>
					<div>Signal Condition</div>
				</div>
			</div>
		</div>
	</div>
</div>
