@page
@model phr.Pages.Exceptions.General_Information.PumpInfoModel
@{
	ViewData["Title"] = "Pump Info";
}
<div class="container p-2 d-flex align-items-end flex-column vh-100">
	<div class="col-12 py-2 border-bottom">
		<h4><strong>Pump Info</strong></h4>
	</div>
	<div class="col-12">
		<label for="install-date" class="form-label mt-3"><strong>Install Date</strong></label>
		<input class="form-control" id="install-date" type="text" value="10-Nov-2023" readonly disabled>

		<label for="runtime-last12mo" class="form-label mt-3"><strong>RunLife (Last12Mo)</strong></label>
		<input class="form-control" id="runtime-last12mo" type="text" value="206 | 113 Days" readonly disabled>

		<label for="pump-type" class="form-label mt-3"><strong>Pump Type</strong></label>
		<input class="form-control" id="pump-type" type="text" value="SBP - G-4500EZ" readonly disabled>

		<label for="pump-info" class="form-label mt-3"><strong>Pump Info</strong></label>
		<input class="form-control" id="pump-info" type="text" value="G-4500EZ" readonly disabled>

		<label for="pump-size" class="form-label mt-3"><strong>Pump Size</strong></label>
		<input class="form-control" id="pump-size" type="text" value="-" readonly disabled>

		<label for="pump-depth" class="form-label mt-3"><strong>Pump Depth</strong></label>
		<input class="form-control" id="pump-depth" type="text" value="1977" readonly disabled>

		<label for="pbtd" class="form-label mt-3"><strong>PBTD</strong></label>
		<input class="form-control" id="pbtd" type="text" value="2517.000080" readonly disabled>

		<label for="rat-hole" class="form-label mt-3"><strong>Rat Hole</strong></label>
		<input class="form-control" id="rat-hole" type="text" value="1977 - 2517.000080" readonly disabled>

		<label for="motor-voltage" class="form-label mt-3"><strong>Motor Voltage</strong></label>
		<input class="form-control" id="motor-voltage" type="text" value="964" readonly disabled>

		<label for="motor-amps" class="form-label mt-3"><strong>Motor Amps</strong></label>
		<input class="form-control" id="motor-amps" type="text" value="52" readonly disabled>

		<label for="pump-stage" class="form-label mt-3"><strong>Pump Stage</strong></label>
		<input class="form-control" id="pump-stage" type="text" value="39" readonly disabled>

		<label for="protector" class="form-label mt-3"><strong>Protector</strong></label>
		<input class="form-control" id="protector" type="text" value="BPBSL" readonly disabled>

		<label for="motor-hp" class="form-label mt-3"><strong>Motor HP</strong></label>
		<input class="form-control" id="motor-hp" type="text" value="80" readonly disabled>

		<label for="design-rate" class="form-label mt-3"><strong>Design Rate</strong></label>
		<input class="form-control" id="design-rate" type="text" value="4000" readonly disabled>

		<label for="pump-ut-sno" class="form-label mt-3"><strong>Pump UT SNO</strong></label>
		<input class="form-control" id="pump-ut-sno" type="text" value="B1U3K-465413" readonly disabled>

	</div>
</div>