@page
@model phr.Pages.Exceptions.Form_Action_Recommendation.DataModel
@{
	ViewData["Title"] = "Data";
}
<div class="container p-2 d-flex align-items-end flex-column">
	<div class="col-12 py-2 border-bottom">
		<h4><strong>Data</strong></h4>
	</div>
	<div class="col-12">
		<div class="text-light-emphasis my-4 d-flex justify-content-center">
			No Record Found
		</div>
	</div>
	<div class="col-12">
		<div class="d-flex flex-column">
			<div class="p-3 bg-primary bg-opacity-10"><strong>Job Currently on Phase 3.3, 3.5, 3.7 Opikat</strong></div>
			<div class="p-3 border">PRF04 (Phase1)</div>
			<div class="p-3 border">PRF04 (Phase1)</div>
		</div>

	</div>
</div>
