@page
@model phr.Pages.Exceptions.DCAModel
@{
	ViewData["Title"] = "Decline Curve Analysis";
}
<link rel="stylesheet" href="~/css/DCA.css" />
<!--<label for="wellDropdown">Select Well:</label>-->
<!--<select id="wellDropdown">-->
<!--  <option value="">All Wells</option>-->
<!--</select>-->
<!--<label for="startDate">Start Date:</label>-->
<!--<input type="date" id="startDate">-->
<!--<label for="endDate">End Date:</label>-->
<!--<input type="date" id="endDate">-->
<!--<button id="filterButton">Filter</button>-->
<h4 class="p-2 pt-2">Decline Curve Analysis</h4>
<div class="container">
    <!-- Filter Section -->
    <div class="filter-section">
        <div class="filter-group">
            <label for="wellDropdown">Select Well:</label>
            <select id="wellDropdown">
                <option value="">All Wells</option>
            </select>
        </div>
        <div class="filter-group">
            <label for="startDate">Start Date:</label>
            <input type="date" id="startDate">
        </div>
        <div class="filter-group">
            <label for="endDate">End Date:</label>
            <input type="date" id="endDate">
        </div>
        <button id="filterButton">Filter</button>
    </div>

    <!-- DCA Options Section -->
    <div id="dca-options">
        <div id="dcaSection">
            <div class="filter-group">
                <label for="elr">ELR: </label>
                <input type="number" id="elr" value="10" min="1" />
            </div>
            <div class="decline-rate">
                <label>Exponential (%):</label>
                <input type="number" id="exp-decline" style="color: blue; opacity: 1; background-color: white; text-align: center;" disabled />
                <!--        <span id="exp-decline">-</span>-->
            </div>
            <div class="decline-rate">
                <label>Harmonic (%):</label>
                <input type="number" id="harm-decline" style="color: blue; opacity: 1; background-color: white; text-align: center;" disabled />
                <!--        <span id="harm-decline">-</span>-->
            </div>
            <div class="decline-rate">
                <label>Hyperbolic (%):</label>
                <input type="number" id="hyper-decline" style="color: blue; opacity: 1; background-color: white; text-align: center;" disabled />
                <!--        <span id="hyper-decline">-</span>-->
            </div>
            <button id="automateDCA" class="btn btn-primary">Calculate</button>
            <button id="predictDCA" class="btn btn-primary">Forecast</button>
             <button id="mlDCA" class="btn btn-primary">ML DCA</button> 
            <button id="resetChart" class="btn btn-secondary" style="background-color: darkred;">Reset</button>


        </div>
    </div>

    <div class="alert alert-danger d-sm-none d-block my-2" role="alert">
        Rotate your screen for bigger view
    </div>
</div>
<div id="loadingMessage" style="display:none;">Loading...</div>
<div id="chart"></div>
<!--<div id="points">-->
<!--  <p><strong>Start Point:</strong> <span id="startPoint"></span></p>-->
<!--  <p><strong>Mid Point:</strong> <span id="midPoint"></span></p>-->
<!--  <p><strong>End Point:</strong> <span id="endPoint"></span></p>-->
<!--</div>-->



<div id="loading" style="display: none;">Loading...</div>
<div id="noData" style="display: none; text-align: center; color: red;">No Data Found</div>
<script src="~/lib/apexcharts.js" ></script>
<script src="~/js/DCA.js" asp-append-version="true"></script>